data/Kickstarter.csv
data/kickstarter_2020.csv
data/Kickstarter001.csv
data/Kickstarter002.csv
data/Kickstarter003.csv
data/Kickstarter004.csv
data/Kickstarter005.csv
data/Kickstarter006.csv
data/Kickstarter007.csv
data/Kickstarter008.csv
data/Kickstarter009.csv
data/Kickstarter010.csv
data/Kickstarter011.csv
data/Kickstarter012.csv
data/Kickstarter013.csv
data/Kickstarter014.csv
data/Kickstarter015.csv
data/Kickstarter016.csv
data/Kickstarter017.csv
data/Kickstarter018.csv
data/Kickstarter019.csv
data/Kickstarter020.csv
data/Kickstarter021.csv
data/Kickstarter022.csv
data/Kickstarter023.csv
data/Kickstarter024.csv
data/Kickstarter025.csv
data/Kickstarter026.csv
data/Kickstarter027.csv
data/Kickstarter028.csv
data/Kickstarter029.csv
data/Kickstarter030.csv
data/Kickstarter031.csv
data/Kickstarter032.csv
data/Kickstarter033.csv
data/Kickstarter034.csv
data/Kickstarter035.csv
data/Kickstarter036.csv
data/Kickstarter037.csv
data/Kickstarter038.csv
data/Kickstarter039.csv
data/Kickstarter040.csv
data/Kickstarter041.csv
data/Kickstarter042.csv
data/Kickstarter043.csv
data/Kickstarter044.csv
data/Kickstarter045.csv
data/Kickstarter046.csv
data/Kickstarter047.csv
data/Kickstarter048.csv
data/Kickstarter049.csv
data/Kickstarter050.csv
data/Kickstarter051.csv
data/Kickstarter052.csv
data/Kickstarter053.csv
data/Kickstarter054.csv
data/Kickstarter055.csv
data/Kickstarter056.csv
data/Kickstarter057.csv
data/Kickstarter058.csv
data/Kickstarter059.csv
